**Using quotes(single, double) and escape "\" character**

In [ ]:
print("What's your name?")
print('What"s your name?')
print('What\'s your name?')

What's your name?
What"s your name?
What's your name?

In [ ]:
a=5
b=2
res=a+b
print(res)
print(a+b)

7
7

**variable Name**

In [ ]:
_a=10
print(_a)
a=9
print(a)
A=8
print(A)
print(a+A+_a)

10
9
8
27

**Change in Data Type**

In [ ]:
a="Anurag"
print(a)
a=5
print(a)
a=-2
print(a)
a=1.2
print(a)
a="Anurag"
a=5
a=-2
a=1.2
print(a)

Anurag
5
-2
1.2
1.2

**Operators**

Arithmatic operators  + - * /
Other Operator // %

In [ ]:
2+5

7

In [ ]:
2-3

-1

In [ ]:
5/2

2.5

In [ ]:
6/3

2.0

Python division always returns floating point int/int = float
If you need integer then use // like int//int = int

In [ ]:
6//3

2

Mod operator % - it returns the remainder (Numnerator % denominator)
if denominator is greater than Numerator then Numerator is returned as is

In [ ]:
6%4

2

In [ ]:
4%6

4

In [ ]:
3%2

1

In [ ]:
12312231913931%3

2

**input method for prompt**

In [ ]:
user_name = input('What is your name? ')
print('Hello,', user_name)

What is your name? Anurag
Hello, Anurag

In [ ]:
num1 = input('First Number = ')
num2 = input('Second Number = ')
res = num1/num2

In [21]:
x=11
y=4
x=x%y
y=y%x
print(x, y)

3 1

In [23]:
print('let it' + 'snow')
print('and' + 'snow')
print('let it ' + 'snow')
print('and' + ' snow')
print('let it' +     'snow')
print(        'and' + 'snow')

let itsnow
andsnow
let it snow
and snow
let itsnow
andsnow

In [25]:
a='2'
b='3'
print(a+b)

23

In [ ]:
Int within single quotes is treated as string

In [26]:
inpu('Hi , how old are you?')

NameError: name 'inpu' is not defined