# Day 10

In [6]:
f = 1
for i in range(int(input("Enter a number to get factorial "))):
  f *= i+1
print(f)

Enter a number to get factorial 5
120

In [9]:
def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1)

print(factorial(int(input("Enter a number :"))))

Enter a number :5
120

In [10]:
#Fibonachi series
# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144
firstNumber = int(input("Enter first number :"))
secondNumber = int(input("Enter second number :"))
numberInSeries=int(input("Enter number in series :"))
l = []
l.append(firstNumber)
l.append(secondNumber)
for i in range(numberInSeries-2):
  thirdNumber = firstNumber + secondNumber
  l.append(thirdNumber)
  firstNumber = secondNumber
  secondNumber = thirdNumber
print(l)

Enter first number :1
Enter second number :2
Enter number in series :4
[1, 2, 3, 5]

In [4]:
def printFibonachi(a,b,n):
  if n<=1:
    return
  elif n==2:
    print(a,b,end=' ')
  else:
    return printFibonachi(b,a+b,n-1)

firstNumber = int(input("Enter first number :"))
secondNumber = int(input("Enter second number :"))
numberInSeries=int(input("Enter number in series :"))
printFibonachi(firstNumber,secondNumber,numberInSeries)

Enter first number :1
Enter second number :1
Enter number in series :3
1 2

In [1]:
def printFibonacci(n):
  if n > 2:
    return printFibonacci(n-1) + printFibonacci(n-2)
  else:
    return n

firstNumber = int(input("Enter first number :"))
secondNumber = int(input("Enter second number :"))
numberInSeries=int(input("Enter number in series :"))

print(firstNumber,firstNumber, printFibonacci(numberInSeries))

Enter first number :0
Enter second number :1
Enter number in series :4
0 0 5

# Day 9

In [3]:
l = [10,20,30]
for i in range(len(l)):
  l.append(i)
  l.append(10)
print(l)

[10, 20, 30, 0, 10, 1, 10, 2, 10]

In [5]:
def addNumber(var_list, var_element):
  var_list.append(var_element)
  return var_list

l = [10,20,30]
for i in range(len(l)):
    l = addNumber(l,40)
print(l)

[10, 20, 30, 40, 40, 40]

In [8]:
def addNumber(number1, number2):
  return number1+number2

answer = addNumber(int(input('Number 1 = ')),int(input('Number 2 = ')))
print(answer)

Number 1 = 20
Number 2 = 30
50

In [11]:
def addNumber():
  result = 0
  number = 0
  while True:
    number = int(input('Add a number  (0 to see the result) = '))
    if number == 0:
      break
    else:
      result += number
  return result3

result = addNumber()
print(result)

Add a number  (0 to see the result) = 20
Add a number  (0 to see the result) = 4
Add a number  (0 to see the result) = 54
Add a number  (0 to see the result) = 6
Add a number  (0 to see the result) = 0
84

In [ ]:
def addition(number1,number2):
  return number1+number2

def substraction(number1,number2):
  return number1-number2

def multiplication(number1,number2):
  return number1*number2

def division(number1,number2):
  if number2 == 0:
    return 'Division by Zero Error'
  else:
    return float(number1/number2)

def inputNumber():
  return int(input('Number = '))

choice = 0
while choice != 5:
  print("""
  1. Addition
  2. Substraction
  3. Multiplication
  4. Division
  5. Exit
  """)
  choice = int(input('Enter your choice = '))
  if choice==1:
    print("Result of addition is ", addition(inputNumber(),inputNumber()))
  elif choice == 2:
    print("Result of substraction is ", substraction(inputNumber(),inputNumber()))
  elif choice == 3:
    print("Result of multiplication is ", multiplication(inputNumber(),inputNumber()))
  elif choice == 4:
    print("Result of division is ", division(inputNumber(),inputNumber()))
  elif choice == 5:
    break
  else:
    print('Invalid Choice')

  1. Addition
  2. Substraction
  3. Multiplication
  4. Division
  5. Exit

Result of addition is  9

  1. Addition
  2. Substraction
  3. Multiplication
  4. Division
  5. Exit

Result of substraction is  -1

  1. Addition
  2. Substraction
  3. Multiplication
  4. Division
  5. Exit

Result of multiplication is  6

  1. Addition
  2. Substraction
  3. Multiplication
  4. Division
  5. Exit

Result of division is  0.6666666666666666

  1. Addition
  2. Substraction
  3. Multiplication
  4. Division
  5. Exit

Result of division is  Error

  1. Addition
  2. Substraction
  3. Multiplication
  4. Division
  5. Exit

In [35]:
l=[1,2,4,5,1,2]
nl=[]
for i in l:
  if i in nl:
    pass
  else:
    nl.append(i)
print(nl)

[1, 2, 4, 5]

In [34]:
def uniqList(l=['']):
  nl=[]
  for i in l:
    if i not in nl:
      nl.append(i)
  return nl

l=[1,2,4,5,1,2]
print(uniqList(l))
l=['Mark', 'Mark', 'John', 'Anne']
print(uniqList(l))
print(uniqList())

[1, 2, 4, 5]
['Mark', 'John', 'Anne']
['']

# Day 8 - Start

In [ ]:
d={'1':1,'2':2,'3':3}
print(d)
print(type(d))
print(d['1'])

{'1': 1, '2': 2, '3': 3}
<class 'dict'>
1

In [ ]:
d={2:100,'4':200,6:300,'8':400,10:500}
print(d)

for i in d.keys():
  print(i)
  print(type(i) )

for i in d.values():
  print(i)
  print(type(i) )


for i in d.items():
  print(i)
  print(type(i) )

{2: 100, '4': 200, 6: 300, '8': 400, 10: 500}
2
<class 'int'>
4
<class 'str'>
6
<class 'int'>
8
<class 'str'>
10
<class 'int'>
100
<class 'int'>
200
<class 'int'>
300
<class 'int'>
400
<class 'int'>
500
<class 'int'>
(2, 100)
<class 'tuple'>
('4', 200)
<class 'tuple'>
(6, 300)
<class 'tuple'>
('8', 400)
<class 'tuple'>
(10, 500)
<class 'tuple'>

In [ ]:
#Second duplicate key - value is ignored - no error
d={2:100,'4':200,4:250,6:300,'8':400,10:500,2:600}
print(d)
print( d(2))

for k,v in d.items():
  print('key =',k,' value = ',v)
  print('key type=',type(k),' value type= ',type(v))

{2: 600, '4': 200, 4: 250, 6: 300, '8': 400, 10: 500}
key = 2  value =  600
key type= <class 'int'>  value type=  <class 'int'>
key = 4  value =  200
key type= <class 'str'>  value type=  <class 'int'>
key = 4  value =  250
key type= <class 'int'>  value type=  <class 'int'>
key = 6  value =  300
key type= <class 'int'>  value type=  <class 'int'>
key = 8  value =  400
key type= <class 'str'>  value type=  <class 'int'>
key = 10  value =  500
key type= <class 'int'>  value type=  <class 'int'>

In [ ]:
d={2:100,2:600,2:300,'4':200,4:250,6:300,'8':400,10:500, 2:800}
print(d)
print( d[2])

{2: 800, '4': 200, 4: 250, 6: 300, '8': 400, 10: 500}
800

In [ ]:
temp_list =[1,2,3]
print(temp_list)
for i in range(len(temp_list)):
  temp_list.insert(i,i)
  print('index is -> ',i, ' list is -> ', temp_list)
print(temp_list)

[1, 2, 3]
index is ->  0  list is ->  [0, 1, 2, 3]
index is ->  1  list is ->  [0, 1, 1, 2, 3]
index is ->  2  list is ->  [0, 1, 2, 1, 2, 3]
[0, 1, 2, 1, 2, 3]

In [ ]:
l1 = [1,2,3]
l2 = l1
del l1[1:2]
print(l1)
print(l2)
#Assignement operator points to same list

[1, 3]
[1, 3]

In [ ]:
ratings = [3.0,4.5,6.3,4.5,6.7]
print(ratings[-2:-4:1])
print(ratings[-2:-4:-1])

[]
[4.5, 6.3]

In [ ]:
temp_list =[1,2,3]
print(temp_list)
for i in range(len(temp_list)):
  print(i)
  print(temp_list)
  print(len(temp_list))
  temp_list.insert(0,i)
print(temp_list)

[1, 2, 3]
0
[1, 2, 3]
3
1
[0, 1, 2, 3]
4
2
[1, 0, 1, 2, 3]
5
[2, 1, 0, 1, 2, 3]

In [ ]:
d={2:100,'4':200,4:250,6:300,'8':400,10:500}
print(d)
print(d[2])
d[2]=1000
print(d)
d.update({2:2000})
print(d)

{2: 100, '4': 200, 4: 250, 6: 300, '8': 400, 10: 500}
100
{2: 1000, '4': 200, 4: 250, 6: 300, '8': 400, 10: 500}
{2: 2000, '4': 200, 4: 250, 6: 300, '8': 400, 10: 500}

In [ ]:
d={2:100,4:200,6:300,8:400,10:500}
print(d)

print(d.keys())
print(d.values())
print(d.items())

d={2:100,'4':200,6:300,'8':400,10:500}
print(d.get('4'))

for Key in d:
  print(d[Key])
  print(d.get(Key))
  print(Key)
  print(Key.values())

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
dict_keys([2, 4, 6, 8, 10])
dict_values([100, 200, 300, 400, 500])
dict_items([(2, 100), (4, 200), (6, 300), (8, 400), (10, 500)])
200
100
100
2

AttributeError: 'int' object has no attribute 'values'

# Day 8 - End

# Day 7 - Start

You are given a list with various flight connections in Europe. Each connection is represented as a tuple with the following elements:

(city_from, city_to, time)

For example, the following tuple represents a flight from Amsterdam to Dublin which takes 100 minutes:

('Amsterdam', 'Dublin', 100)

Your task is to go through all the routes in a loop and check how many of them lead to Rome (i.e. how many of them have city_to equal to 'Rome'). Among the routes to Rome, you should also calculate the average flight time. Print the following the output:

{} connections lead to Rome with an average flight time of {} minutes

Replace {} with the number of connections and the average flight time.

connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]

In [ ]:
connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
     ('Dublin', 'Rome', 170)
  ]
time = []
for tup in connections:
  if tup[1] == 'Rome':
    time.append(tup[2])
print( len(time),' connections lead to Rome with an average flight time of ',sum(time)/len(time),' minutes')

city_from = []
city_to = []
for tup in connections:
  city_from.append(tup[0])
  city_to.append(tup[1])
print(city_from)
print(city_to)

5  connections lead to Rome with an average flight time of  161.0  minutes

In [ ]:
t1=(1,2,3,4)
print(t1)
print(type(t1))
if type(t1)=='tuple':
  print('t1 is tuple')
else:
  print('t1 is not tuple')

(1, 2, 3, 4)
<class 'tuple'>
t1 is not tuple

Tuple

In [ ]:
a=7
b=8
a=a+b
b=a-b
a=a-b
print(a,b)
a,b=b,a
print(a,b)

8 7
7 8

In [ ]:
city=['blr','mum','Che','cochin']
print(city)
print(city[0])
print(city[1])
print(city[2])
print(city[3])
city[0],city[3],city[1],city[2] = city[3],city[0],city[2],city[1]
print(city)
city[1],city[2] = city[2],city[1]
city.sort()
print(city)
city.sort(reverse=True)
print(city)

['blr', 'mum', 'Che', 'cochin']
blr
mum
Che
cochin
['cochin', 'Che', 'mum', 'blr']
['Che', 'blr', 'cochin', 'mum']
['mum', 'cochin', 'blr', 'Che']

In [ ]:
l=[2,31,1,0,5]
print(l)
l.sort()
print(l)
display(l.sort())
print(l.sort())
print(l)
l.sort(reverse=True)
print(l)
print(sorted(l))
print(sorted(l,reverse=True))

SyntaxError: invalid syntax (<ipython-input-41-83ea06ef4733>, line 6)

In [ ]:
invited_guest = ['Kate','Adam','Kerry','Joe']
print(invited_guest)
print(sorted(invited_guest))
print(sorted(invited_guest,reverse=True))
attendee= input('Name: ').upper()
print(attendee)
if attendee in invited_guest:
  print('You are invited')
else:
  print('You are not invited')

['Kate', 'Adam', 'Kerry', 'Joe']
['Adam', 'Joe', 'Kate', 'Kerry']
['Kerry', 'Kate', 'Joe', 'Adam']
Name: anurag
ANURAG
You are not invited

# Day 7 - end

# DAY 6 - Start

In [ ]:
#List
p =[]
print(p)
l = [1,2,3,4]
print(l)
type(l)
print(type(p))
print(l[-2])

[]
[1, 2, 3, 4]
<class 'list'>
3

In [ ]:
print(l[100])

IndexError: list index out of range

In [ ]:
print(l[0:4])

[1, 2, 3, 4]

In [ ]:
l=[1,2,3.0,'blr',200,400]
print(l[-7:-3:1])
print(l[-7:-4:-1])
print(l[-4:-7:-1])
print(l[-1:-4:-1])

[1, 2, 3.0]
[]
[3.0, 2, 1]
[400, 200, 'blr']

In [ ]:
l=[1,2,3.0,'blr',200,400]

print(list(reversed(l))[-1:-4:-1])
print(l[::-1][-1:-4:-1])
print (l [-4::-1][::-1])
print(l[-4:-7:-1][::-1])
print(l[-7:-3:1])
print(l[-6:3:1])
print(l[-6:3:])

[1, 2, 3.0]
[1, 2, 3.0]
[1, 2, 3.0]
[1, 2, 3.0]
[1, 2, 3.0]
[1, 2, 3.0]
[1, 2, 3.0]

In [ ]:
l=[1,2,3.0,'blr',200,400]
print(l[-4::-1])

[3.0, 2, 1]

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print(l[0:9:2])
del l[0]
print(l)
l.append(0)
print(l)
l.insert(0,1)
print(l)
sum = 0
for i in range(len(l)):
  sum = sum + l[i]
print(sum)

[1, 3, 5, 7, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
45

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
sum = 0
for i in range(len(l)):
  sum = sum + l[i]
print(sum)

sum = 0
for i in l:
  sum = sum + i
print(sum)

45
45

In [ ]:
low_spending = []
normal_spending = []
high_spending = []
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]
for s in spendings:
  if s < 1000:
    low_spending.append(s)
  elif s >= 1000 and s < 2500:
    normal_spending.append(s)
  else:
    high_spending.append(s)

print('Number of month with low spendings:',len(low_spending),' normal spendings:',len(normal_spending),' high spendings:',len(high_spending))
print('Low spendings:',low_spending,' normal spendings:',normal_spending,' high spendings:',high_spending)

Number of month with low spendings: 1  normal spendings: 4  high spendings: 7
Low spendings: [987.5]  normal spendings: [1346.0, 1734.4, 2130.0, 1000.0]  high spendings: [2567.0, 3271.45, 2500.0, 2510.3, 2987.34, 3120.5, 4069.78]

# DAY 6 - End

# Day 5 - Start


*   String Manipulation
*   List item

In [ ]:
s="It's a rainy day in Virginia"
print(s.count('a'))
print(s.find('a'))
print(s.find('a',3,20))
print(s.find('a',6,20))
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())
print(s.replace('a','A'))
print(s.swapcase())
print(s.isalpha())
print(s.isalnum())
print(s.rfind('a',6,20))

4
5
5
8
IT'S A RAINY DAY IN VIRGINIA
it's a rainy day in virginia
It's a rainy day in virginia
It'S A Rainy Day In Virginia
It's A rAiny dAy in VirginiA
iT'S A RAINY DAY IN vIRGINIA
False
False
14

In [ ]:
print(sorted(s))

[' ', ' ', ' ', ' ', ' ', "'", 'I', 'V', 'a', 'a', 'a', 'a', 'd', 'g', 'i', 'i', 'i', 'i', 'i', 'n', 'n', 'n', 'r', 'r', 's', 't', 'y', 'y']

In [ ]:
inputString=input("Enter a string: ")
reversString=inputString[::-1]
if inputString == reversString:
  print("String is palindrome")
else:
  print("String is not palindrome")

Enter a string: kayak
String is palindrome

In [ ]:
s="dog go to dog park to play with another dog"
findString=in
for i in range(s.count('findString')):
  print('findString','s')

In [ ]:
s= 'a quick brown fax jumps over the lazy dog'
stringtofind='aeiouAEIOU'
for char in s:
  if char not in stringtofind:
    print(char,end=' ')

  q c k   b r w n   f x   j m p s   v r   t h   l z y   d g

**Anagram**

In [ ]:
str1=input("Enter string 1: ")
str2=input("Enter string 2: ")
if sorted(str1) == sorted(str2):
  print("Anagram")
else:
  print("Not Anagram")

Enter string 1: ram
Enter string 2: mar
Anagram

# Day 5 - End

**Using quotes(single, double) and escape "\" character**

In [ ]:
print("What's your name?")
print('What"s your name?')
print('What\'s your name?')

What's your name?
What"s your name?
What's your name?

In [ ]:
a=5
b=2
res=a+b
print(res)
print(a+b)

7
7

**variable Name**

In [ ]:
_a=10
print(_a)
a=9
print(a)
A=8
print(A)
print(a+A+_a)

10
9
8
27

**Change in Data Type**

In [ ]:
a="Anurag"
print(a)
a=5
print(a)
a=-2
print(a)
a=1.2
print(a)
a="Anurag"
a=5
a=-2
a=1.2
print(a)

Anurag
5
-2
1.2
1.2

**Operators**

Arithmatic operators  + - * /
Other Operator // %

In [ ]:
2+5

7

In [ ]:
2-3

-1

In [ ]:
5/2

2.5

In [ ]:
6/3

2.0

Python division always returns floating point int/int = float
If you need integer then use // like int//int = int

In [ ]:
6//3

2

Mod operator % - it returns the remainder (Numnerator % denominator)
if denominator is greater than Numerator then Numerator is returned as is

In [ ]:
6%4

2

In [ ]:
4%6

4

In [ ]:
3%2

1

In [ ]:
12312231913931%3

2

**input method for prompt**

In [ ]:
user_name = input('What is your name? ')
print('Hello,', user_name)

What is your name? Anurag
Hello, Anurag

In [ ]:
num1 = input('First Number = ')
num2 = input('Second Number = ')
res = num1/num2

In [ ]:
x=11
y=4
x=x%y
y=y%x
print(x, y)

3 1

In [ ]:
print('let it' + 'snow')
print('and' + 'snow')
print('let it ' + 'snow')
print('and' + ' snow')
print('let it' +     'snow')
print(        'and' + 'snow')

let itsnow
andsnow
let it snow
and snow
let itsnow
andsnow

In [ ]:
a='2'
b='3'
print(a+b)

23

In [ ]:
Int within single quotes is treated as string

In [ ]:
input('Hi , how old are you?')

Hi , how old are you?23

'23'

# DAY 2

**Typecasting**

In [ ]:
num1=input(" input value for number 1")
num2=input(" input value for number 2")
print(num1+num2)
print(num1,num2)
print(num1+2)

 input value for number 14
 input value for number 266
466
4 66

TypeError: can only concatenate str (not "int") to str

In [ ]:
a=int(input(" input value for number 1 =  "))
b=int(input(" input value for number 2 =  "))
print('a + b = ',a+b)
print(a,b)
print(a+2)
print('The value of a is ',a, ', The value of b is ' ,b ,' and Sum of a + b = ',a+b)
print('\nThe value of a is ',a, '\nThe value of b is ' ,b ,' \nSum of a + b = ',a+b)

 input value for number 1 =  3
 input value for number 2 =  4
a + b =  7
3 4
5
The value of a is  3 , The value of b is  4  and Sum of a + b =  7

The value of a is  3
The value of b is  4
Sum of a + b =  7

Separator
default is single space

In [ ]:
print(a,b)
print(a,b,sep='_')
print(a,2)

3 4
3_4
3 2

end of line
default \n

In [ ]:
print(a)
print(b)
print(a,end=', ')
print(b)
print(a,b,end=', ')

3
4
3, 4

Celsius to Farenheit conversion F = C * 1.8 + 32

In [ ]:
C=int(input(" input value for celsius =  "))
F=(C * 1.8) + 32
print('Farenheit is = ',F)
print('Farenheit is = ',float(F))

 input value for celsius =  6
Farenheit is =  42.8
Farenheit is =  42.8

Operator
Unary
  Follows BODMAS
  Evaluates Left to Right () % * + -
  Evaluates Right to Left **
Binary

In [ ]:
print(2 + 3 * 4 / 2 * ( 4 / 2))
print(2 ** 2 ** 3)

14.0
256

Exercise

In [ ]:
login=input("Enter your login: ")
nativeLang=input("Enter your native language: ")
print("Your login is ",login,' and you speak ',nativeLang)

Enter your login: Anurag
Enter your native language: Hindi
Your login is  Anurag  and you speak  Hindi

Variable replacement in print

In [ ]:
print("Your login is {} and you speak {}".format(login,nativeLang))

Your login is Anurag and you speak Hindi

Bitwise operator
<<   left Shift

In [ ]:
2 << 1

4

In [ ]:
2 << 2

8

In [ ]:
2 << 3

16

In [ ]:
3<<1

6

In [ ]:
3<<2

12

In [ ]:
3>>2

0

Right Shift ?

In [ ]:
8>>1

4

In [ ]:
print(2 + 3 << 1 * 4 / 2 * ( 4 / 2))

TypeError: unsupported operand type(s) for <<: 'int' and 'float'

In [ ]:
print(2 + int(3 << 1) * 4 / 2 * ( 4 / 2))

26.0

Condition & indentation
```
if condition:
  statement1
  statement2
  statement3
else:
  statement
-----No explicit end either if or both if & else
--Elsif ladder
if condition:
  statement
elif:
  statement
else
  statement
```

**Check if you can vote!**

In [ ]:
age=int(input("What is your age? "))
if age >= 18 :
  print("Wow! You are eligible to vote!!")
else :
  print("Please try after ", 18-age, " years!")

print('Thank you for being a concerned citizen!')

What is your age? 4
Please try after  14  years!
Thank you for being a concerned citizen!

In [ ]:
age=int(input("What is your age? "))
if age >= 18 :
  res = "Wow! You are eligible to vote!!"
else :
  res = "Please try after ", 18-age, " years!"

print(res)

What is your age? 34
Wow! You are eligible to vote!!

Logical operator returns true/false ( boolean) == > < >= =< && !=

In [ ]:
age=int(input("What is your age? "))
if age == 18 :
  res = "Congratulations! You are eligible to vote now!!"
elif age >= 18:
    res = "Wow! You have been eligible to vote since, {} years!!".format(age-18)
else :
  res = "Please try after ", 18-age, " years!"

print(res)

What is your age? 6
('Please try after ', 12, ' years!')

In [ ]:
float(1 // 2*6)

0.0

In [ ]:
print(age=int(input("What is your age? ")))

What is your age? as

ValueError: invalid literal for int() with base 10: 'as'

short hand notation
a = a+b => a += b

Refund Policy Helper
Let's help an online store with their new refund policy. In this store, you can return an item and get a refund in 2 cases:
1. Within 10 days from the day of purchase, given that you have not used the item, or
2. No matter when you bought it, when the item broke down through no fault of your own.
Write a program that first asks the user three questions and then informs them whether they can get a refund. Ask the following questions:
How many days ago have you purchased the item? << add a space at the end of this prompt
Have you used the item at all [y/n]?  << add a space at the end of this prompt
Has the item broken down on its own [y/n]?  << add a space at the end of this prompt
Based on the answers and the refund policy explained above, print either:
You can get a refund.
or:
You cannot get a refund.

In [ ]:
daysPurchased=int(input("How many days ago have you purchased the item? "))
isUsed=input("Have you used the item at all [y/n]?  ")
brokenByItsOwn=input("Has the item broken down on its own [y/n]?  ")
if (daysPurchased <= 10 and isUsed == 'n' ) or brokenByItsOwn == 'y':
  print("You can get a refund.")
else:
  print("You cannot get a refund.")

How many days ago have you purchased the item? 15
Have you used the item at all [y/n]?  y
Has the item broken down on its own [y/n]?  y
You can get a refund.

# DAY 3

if else ladder
Nested if else
  -----> indentation

While loop

In [ ]:
c=1
while(c<5):
  print(c)
  c+=1
print(c)

1
2
3
4
5

In [ ]:
start=int(input("Enter start: "))
end=int(input("Enter end: "))
while start<=end:
  print(start)
  start+=1

Enter start: 8
Enter end: 9
8
9

print Even Numbers

In [ ]:
start=int(input("Enter start: "))
end=int(input("Enter end: "))
while start<=end:
  if start%2 == 0:
    print(start)
  start+=1

Enter start: 1
Enter end: 11
2
4
6
8
10

In [ ]:
x=1
x = x == x
print(x)

True

In [ ]:
a=5
b=1
c= (a > b or b < 1 ) and a == 1
print(c)
c= a > b or b < 1  and a == 1
print(c)

False
True

# For loop

In [ ]:
s="good"
for i in s:
  print(i)

g
o
o
d

Count character in a string

In [ ]:
s=input("What is your string?")
for i in s:
    print(i)

What is your string?HI
H
I

In [ ]:
collection_val = [1,2,3,4,11,22,33,44]
for i in collection_val:
  print(i)

1
2
3
4
11
22
33
44

In [ ]:
n=int(input("Enter a number: "))
for i in range(n):
    print(i)

Enter a number: 5
0
1
2
3
4

In [ ]:
n=int(input("Enter a number to print it\'s table: "))
for i in range(10):
    print(n,'*',i,'=',n*(i+1))

Enter a number to print it's table: 5
5 * 0 = 5
5 * 1 = 10
5 * 2 = 15
5 * 3 = 20
5 * 4 = 25
5 * 5 = 30
5 * 6 = 35
5 * 7 = 40
5 * 8 = 45
5 * 9 = 50

In [ ]:
n=int(input("Enter a number: "))
for i in range(n):
  if i%2 == 0 and i>0:
    print(i)

Enter a number: 45
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

# DAY 4

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,n):
  if i%2 == 0:
    print(i)

Enter a number: 11
2
4
6
8
10

In [ ]:
n=int(input("Enter a number: "))
for i in range(n):
  print(i+1)

Enter a number: 9
1
2
3
4
5
6
7
8
9

In [ ]:
n=int(input("How many numbers in sequence ? "))
m=int(input("Enter the starting number for sequence: "))
for i in range(m,m+n):
  print(i)

How many numbers in sequence ? 3
Enter the starting number for sequence: 5
5
6
7

**range(start,end,step)**

In [ ]:
for i in range(2,100,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
n=int(input("How many numbers in sequence ? "))
m=int(input("Enter the starting number for sequence: "))
step=int(input("Enter the step: "))
for i in range(m,m+n,step):
  print(i)

How many numbers in sequence ? 100
Enter the starting number for sequence: 0
Enter the step: 2
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
for i in range():
  print(i)

TypeError: range expected at least 1 argument, got 0

*   break
*   continue
*   pass

In [ ]:
for i in range(1,21):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(1,21):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1,21):

SyntaxError: incomplete input (<ipython-input-31-f3bd33121448>, line 1)

In [ ]:
for i in range(1,21):
  pass

In [ ]:
for i in range(1,21):
  if i==5:
    pass
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

String

In [ ]:
testString="Hello World!\nToday is a wonderfull day!\nWhat are we going to do today?"
print(testString)

Hello World!
Today is a wonderfull day!
What are we going to do today?

In [ ]:
testString="Hello World!
Today is a wonderfull day!
What are we going to do today?"
print(testString)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-39-f999c303ae62>, line 1)

In [ ]:
testString="""Hello World!
Today is a wonderfull day!
What are we going to do today?"""
print(testString)

Hello World!
Today is a wonderfull day!
What are we going to do today?

Negative Indexing

In [ ]:
testString="""Hello World!
Today is a wonderfull day!
What are we going to do today?"""
print(testString[1])
print(testString[-1])

e
?

In [ ]:
testString="""Hello World!
Today is a wonderfull day!
What are we going to do today?"""
for i in range(len(testString)):
  print(testString[i])

H
e
l
l
o

W
o
r
l
d
!


T
o
d
a
y

i
s

a

w
o
n
d
e
r
f
u
l
l

d
a
y
!


W
h
a
t

a
r
e

w
e

g
o
i
n
g

t
o

d
o

t
o
d
a
y
?

In [ ]:
testString="""Hello World!
Today is a wonderfull day!
What are we going to do today?"""
j=0
for i in range(len(testString)):
  if testString[i] == 'a':
    j+=1
 # print(testString[i])
print(j)

6

In [ ]:
testString="Hakuna matata!What's a wonderfull da!What are we going to do today?"
j=0
for i in range(len(testString)):
  if testString[i] == 't':
    print(i)
    print(testString[:i])  #string slicing - first parameter is default to beigining of the string
    print(testString[j:i]) #string slicing - start to end
    print(testString[j:])  #string slicing - Second parameter is default to end of the string
    print(testString[j:i:2])  #string slicing - Third parameter is step size
    print(testString[:])
    print(testString[::])
    print(testString)
    print(testString[::-1])
    break

9
Hakuna ma
Hakuna ma
Hakuna matata!What's a wonderfull da!What are we going to do today?
Hkn a
Hakuna matata!What's a wonderfull da!What are we going to do today?
Hakuna matata!What's a wonderfull da!What are we going to do today?
Hakuna matata!What's a wonderfull da!What are we going to do today?
?yadot od ot gniog ew era tahW!ad llufrednow a s'tahW!atatam anukaH

In [ ]:
testString="Hello World!"
print(testString[2:80:5])

lo

In [ ]:
testString="Hello World!"
print(testString[80:2:-5])

!W

In [ ]:
print(testString[:])
print(testString[::])

Hello World!
Hello World!