**Using quotes(single, double) and escape "\" character**

In [ ]:
print("What's your name?")
print('What"s your name?')
print('What\'s your name?')

What's your name?
What"s your name?
What's your name?

In [ ]:
a=5
b=2
res=a+b
print(res)
print(a+b)

7
7

**variable Name**

In [ ]:
_a=10
print(_a)
a=9
print(a)
A=8
print(A)
print(a+A+_a)

10
9
8
27

**Change in Data Type**

In [ ]:
a="Anurag"
print(a)
a=5
print(a)
a=-2
print(a)
a=1.2
print(a)
a="Anurag"
a=5
a=-2
a=1.2
print(a)

Anurag
5
-2
1.2
1.2

**Operators**

Arithmatic operators  + - * /
Other Operator // %

In [ ]:
2+5

7

In [ ]:
2-3

-1

In [ ]:
5/2

2.5

In [ ]:
6/3

2.0

Python division always returns floating point int/int = float
If you need integer then use // like int//int = int

In [ ]:
6//3

2

Mod operator % - it returns the remainder (Numnerator % denominator)
if denominator is greater than Numerator then Numerator is returned as is

In [ ]:
6%4

2

In [ ]:
4%6

4

In [ ]:
3%2

1

In [ ]:
12312231913931%3

2

**input method for prompt**

In [ ]:
user_name = input('What is your name? ')
print('Hello,', user_name)

What is your name? Anurag
Hello, Anurag

In [ ]:
num1 = input('First Number = ')
num2 = input('Second Number = ')
res = num1/num2

In [ ]:
x=11
y=4
x=x%y
y=y%x
print(x, y)

3 1

In [ ]:
print('let it' + 'snow')
print('and' + 'snow')
print('let it ' + 'snow')
print('and' + ' snow')
print('let it' +     'snow')
print(        'and' + 'snow')

let itsnow
andsnow
let it snow
and snow
let itsnow
andsnow

In [ ]:
a='2'
b='3'
print(a+b)

23

In [ ]:
Int within single quotes is treated as string

In [2]:
input('Hi , how old are you?')

Hi , how old are you?23

'23'

# DAY 2

**Typecasting**

In [10]:
num1=input(" input value for number 1")
num2=input(" input value for number 2")
print(num1+num2)
print(num1,num2)
print(num1+2)

 input value for number 14
 input value for number 266
466
4 66

TypeError: can only concatenate str (not "int") to str

In [14]:
a=int(input(" input value for number 1 =  "))
b=int(input(" input value for number 2 =  "))
print('a + b = ',a+b)
print(a,b)
print(a+2)
print('The value of a is ',a, ', The value of b is ' ,b ,' and Sum of a + b = ',a+b)
print('\nThe value of a is ',a, '\nThe value of b is ' ,b ,' \nSum of a + b = ',a+b)

 input value for number 1 =  3
 input value for number 2 =  4
a + b =  7
3 4
5
The value of a is  3 , The value of b is  4  and Sum of a + b =  7

The value of a is  3
The value of b is  4
Sum of a + b =  7

Separator
default is single space

In [15]:
print(a,b)
print(a,b,sep='_')
print(a,2)

3 4
3_4
3 2

end of line
default \n

In [16]:
print(a)
print(b)
print(a,end=', ')
print(b)
print(a,b,end=', ')

3
4
3, 4

Celsius to Farenheit conversion F = C * 1.8 + 32

In [27]:
C=int(input(" input value for celsius =  "))
F=(C * 1.8) + 32
print('Farenheit is = ',F)
print('Farenheit is = ',float(F))

 input value for celsius =  6
Farenheit is =  42.8
Farenheit is =  42.8

Operator
Unary
  Follows BODMAS
  Evaluates Left to Right () % * + -
  Evaluates Right to Left **
Binary

In [32]:
print(2 + 3 * 4 / 2 * ( 4 / 2))
print(2 ** 2 ** 3)

14.0
256

Exercise

In [41]:
login=input("Enter your login: ")
nativeLang=input("Enter your native language: ")
print("Your login is ",login,' and you speak ',nativeLang)

Enter your login: Anurag
Enter your native language: Hindi
Your login is  Anurag  and you speak  Hindi

Variable replacement in print

In [42]:
print("Your login is {} and you speak {}".format(login,nativeLang))

Your login is Anurag and you speak Hindi

Bitwise operator
<<   left Shift

In [43]:
2 << 1

4

In [44]:
2 << 2

8

In [47]:
2 << 3

16

In [48]:
3<<1

6

In [49]:
3<<2

12

In [50]:
3>>2

0

Right Shift ?

In [51]:
8>>1

4

In [45]:
print(2 + 3 << 1 * 4 / 2 * ( 4 / 2))

TypeError: unsupported operand type(s) for <<: 'int' and 'float'

In [46]:
print(2 + int(3 << 1) * 4 / 2 * ( 4 / 2))

26.0

Condition & indentation
```
if condition:
  statement1
  statement2
  statement3
else:
  statement
-----No explicit end either if or both if & else
--Elsif ladder
if condition:
  statement
elif:
  statement
else
  statement
```

**Check if you can vote!**

In [57]:
age=int(input("What is your age? "))
if age >= 18 :
  print("Wow! You are eligible to vote!!")
else :
  print("Please try after ", 18-age, " years!")

print('Thank you for being a concerned citizen!')

What is your age? 4
Please try after  14  years!
Thank you for being a concerned citizen!

In [58]:
age=int(input("What is your age? "))
if age >= 18 :
  res = "Wow! You are eligible to vote!!"
else :
  res = "Please try after ", 18-age, " years!"

print(res)

What is your age? 34
Wow! You are eligible to vote!!

Logical operator returns true/false ( boolean) == > < >= =< && !=

In [68]:
age=int(input("What is your age? "))
if age == 18 :
  res = "Congratulations! You are eligible to vote now!!"
elif age >= 18:
    res = "Wow! You have been eligible to vote since, {} years!!".format(age-18)
else :
  res = "Please try after ", 18-age, " years!"

print(res)

What is your age? 6
('Please try after ', 12, ' years!')

In [70]:
float(1 // 2*6)

0.0

In [71]:
print(age=int(input("What is your age? ")))

What is your age? as

ValueError: invalid literal for int() with base 10: 'as'

short hand notation
a = a+b => a += b

Refund Policy Helper
Let's help an online store with their new refund policy. In this store, you can return an item and get a refund in 2 cases:
1. Within 10 days from the day of purchase, given that you have not used the item, or
2. No matter when you bought it, when the item broke down through no fault of your own.
Write a program that first asks the user three questions and then informs them whether they can get a refund. Ask the following questions:
How many days ago have you purchased the item? << add a space at the end of this prompt
Have you used the item at all [y/n]?  << add a space at the end of this prompt
Has the item broken down on its own [y/n]?  << add a space at the end of this prompt
Based on the answers and the refund policy explained above, print either:
You can get a refund.
or:
You cannot get a refund.

In [76]:
daysPurchased=int(input("How many days ago have you purchased the item? "))
isUsed=input("Have you used the item at all [y/n]?  ")
brokenByItsOwn=input("Has the item broken down on its own [y/n]?  ")
if (daysPurchased <= 10 and isUsed == 'n' ) or brokenByItsOwn == 'y':
  print("You can get a refund.")
else:
  print("You cannot get a refund.")

How many days ago have you purchased the item? 15
Have you used the item at all [y/n]?  y
Has the item broken down on its own [y/n]?  y
You can get a refund.

# DAY 3

if else ladder
Nested if else
  -----> indentation

While loop

In [9]:
c=1
while(c<5):
  print(c)
  c+=1
print(c)

1
2
3
4
5

In [13]:
start=int(input("Enter start: "))
end=int(input("Enter end: "))
while start<=end:
  print(start)
  start+=1

Enter start: 8
Enter end: 9
8
9

print Even Numbers

In [20]:
start=int(input("Enter start: "))
end=int(input("Enter end: "))
while start<=end:
  if start%2 == 0:
    print(start)
  start+=1

Enter start: 1
Enter end: 11
2
4
6
8
10

In [46]:
x=1
x = x == x
print(x)

True

In [49]:
a=5
b=1
c= (a > b or b < 1 ) and a == 1
print(c)
c= a > b or b < 1  and a == 1
print(c)

False
True

# For loop

In [40]:
s="good"
for i in s:
  print(i)

g
o
o
d

Count character in a string

In [39]:
s=input("What is your string?")
for i in s:
    print(i)

What is your string?HI
H
I

In [42]:
collection_val = [1,2,3,4,11,22,33,44]
for i in collection_val:
  print(i)

1
2
3
4
11
22
33
44

In [32]:
n=int(input("Enter a number: "))
for i in range(n):
    print(i)

Enter a number: 5
0
1
2
3
4

In [36]:
n=int(input("Enter a number to print it\'s table: "))
for i in range(10):
    print((i+1)*n)

Enter a number to print it's table: 1
1
2
3
4
5
6
7
8
9
10

In [31]:
n=int(input("Enter a number: "))
for i in range(n):
  if i%2 == 0 and i>0:
    print(i)

Enter a number: 45
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

In [27]:
n=int(input("Enter a number: "))
for i in range(1,n):
  if i%2 == 0:
    print(i)

Enter a number: 11
2
4
6
8
10

In [11]:
n=int(input("Enter a number: "))
for i in range(n):
  print(i)

Enter a number: 5
0
1
2
3
4

In [18]:
n=int(input("Enter a number: "))
for i in range(1,n+1):
  print(i)

Enter a number: 4
0
1
2
3