# Module 3

Boolean Values, Conditional Execution, Loops, Lists and List Processing, Logical and Bitwise Operations

Priority	Operator
1.	        +, -	unary
2.	        **
3.	        *, /, //, %
4.	        +, -	binary
5.	        <, <=, >, >=
6.	        ==, !=

In [4]:
2 == 2

True

In [3]:
2 == 2.

True

In [2]:
1 == 2

False

In [5]:
var == 0

NameError: name 'var' is not defined

In [7]:
var = 0  # Assigning 0 to var
print(var == 0)

var = 1  # Assigning 1 to var
print(var == 0)

var = 0  # Assigning 0 to var
print(var != 0)

var = 1  # Assigning 1 to var
print(var != 0)

True
False
False
True

Using one of the comparison operators in Python, write a simple two-line program that takes the parameter n as input, which is an integer, and prints False if n is less than 100, and True if n is greater than or equal to 100.

In [10]:
n = int(input("Enter a number: "))
print(n >= 100)

Enter a number: 100
True