# Module 2

In [ ]:
#The way in which we are passing the arguments into the print() function is the most common in Python,
#and is called the positional way (this name comes from the fact that the meaning of the argument is dictated by its position,
#e.g., the second argument will be outputted after the first, not the other way round).
print("The itsy bitsy spider" , "climbed up" , "the waterspout.")
print("My name is", "Python.")
print("Monty Python.")

The itsy bitsy spider climbed up the waterspout.
My name is Python.
Monty Python.

In [ ]:
#keyword arguments. The name stems from the fact that the meaning of these arguments is taken not from its location (position)
#but from the special word (keyword) used to identify them.
print("My name is ", end="")
print("Monty Python.")
print("My", "name", "is", "Monty", "Python.", sep="-")
print("My", "name", "is", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")
#The default behavior reflects the situation where the end keyword argument is implicitly used in the following way: end="\n".

My_name_is*Monty*Python.*

1. The print() function is a built-in function. It prints/outputs a specified message to the screen/console window.

2. Built-in functions, contrary to user-defined functions, are always available and don't have to be imported. Python 3.8 comes with 69 built-in functions. You can find their full list provided in alphabetical order in the Python Standard Library.

3. To call a function (this process is known as function invocation or function call), you need to use the function name followed by parentheses. You can pass arguments into a function by placing them inside the parentheses. You must separate arguments with a comma, e.g., print("Hello,", "world!"). An "empty" print() function outputs an empty line to the screen.

4. Python strings are delimited with quotes, e.g., "I am a string" (double quotes), or 'I am a string, too' (single quotes).

5. Computer programs are collections of instructions. An instruction is a command to perform a specific task when executed, e.g., to print a certain message to the screen.

6. In Python strings the backslash (\) is a special character which announces that the next character has a different meaning, e.g., \n (the newline character) starts a new output line.

7. Positional arguments are the ones whose meaning is dictated by their position, e.g., the second argument is outputted after the first, the third is outputted after the second, etc.

8. Keyword arguments are the ones whose meaning is not dictated by their location, but by a special word (keyword) used to identify them.

9. The end and sep parameters can be used for formatting the output of the print() function. The sep parameter specifies the separator between the outputted arguments, e.g., print("H", "E", "L", "L", "O", sep="-"), whereas the end parameter specifies what to print at the end of the print statement.

In [ ]:
print("H", "E", "L", "L", "O", sep="-")

H-E-L-L-O

Try to:

minimize the number of print() function invocations by inserting the \n sequence into the strings
make the arrow twice as large (but keep the proportions)
duplicate the arrow, placing both arrows side by side; note: a string may be multiplied by using the following trick: "string" * 2 will produce "stringstring" (we'll tell you more about it soon)
remove any of the quotes, and look carefully at Python's response; pay attention to where Python sees an error - is this the place where the error really exists?
do the same with some of the parentheses;
change any of the print words into something else, differing only in case (e.g., Print) - what happens now?
replace some of the quotes with apostrophes; watch what happens carefully.

In [ ]:
print("    *")
print("   * *")
print("  *   *")
print(" *     *")
print("***   ***")
print("  *   *")
print("  *   *")
print("  *****")

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [ ]:
print("    *     "*5)
print("   * *.   "*5)
print("  *   *   "*5)
print(" *     *  "*5)
print("***   *** "*5)
print("  *   *   "*5)
print("  *   *   "*5)
print("  *****   "*5)

    *         *         *         *         *
   * *.      * *.      * *.      * *.      * *.
  *   *     *   *     *   *     *   *     *   *
 *     *   *     *   *     *   *     *   *     *
***   *** ***   *** ***   *** ***   *** ***   ***
  *   *     *   *     *   *     *   *     *   *
  *   *     *   *     *   *     *   *     *   *
  *****     *****     *****     *****     *****

In [ ]:
#A literal is data whose values are determined by the literal itself.
print(123)  #integer
print(98.6)  #float =>  non-empty decimal fraction.
print(4)  #integer
print(4.0)  #float
print(3.8E8)  #float =>  scientific notation
print(3e8)  #float =>  scientific notation the exponent (the value after the E) has to be an integer
print(6.62607E-34)  #float Plank's constant
print(0.0000000000000000000001) #float =>  scientific notation
#Python always chooses the more economical form of the number's presentation, and you should take this into consideration when creating literals.
# 4 is an integer number, whereas 4.0 is a floating-point number.
print(1_2_3)  #integer _ is used as seprator and is allowed
print('Hello world')  #string
print("Hello world")  #string

123
98.6
4
4.0
380000000.0
300000000.0
6.62607e-34
1e-22
123
Hello world
Hello world
True
False

In [ ]:
#If an integer number is preceded by an 0O or 0o prefix (zero-o), it will be treated as an octal value.
print(0o123)   #integer
#If an integer number is preceded by the prefix 0x or 0X (zero-x), it will be treated as an hexadecimal value.
print(0x123)  #integer

83
291

In [ ]:
print(True)  #boolean
print(False)  #boolean

The binding of the operator determines the order of computations performed by some operators with equal priority, put side by side in one expression.

Most of Python's operators have left-sided binding, which means that the calculation of the expression is conducted from left to right.

In [ ]:
print(9 % 6 % 2) # Modulo

1

In [ ]:
print(2 ** 2 ** 3) # the exponentiation operator uses right-sided binding.

256

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)
print((5 * (12 + 100) / 26) //2)
print((5 * 112 / 26) //2)
print((560 / 26) //2)
print(21.53 //2)

10.0
10.0
10.0
10.0
10.0

In [ ]:
print((-2 / 4), (2 / 4), (2 // 4), (-2 // 4))
print((2 % -4), (2 % 4), (2 ** 3 ** 2))
print((2 ** 4), (2 * 4.), (2 * 4))

-0.5 0.5 0 -1
-2 2 512
16 8.0 8

In [1]:
#You can use the print() function and combine text and variables using the + operator to output strings and variables
var = "3.8.5"
print("Python version: " + var)

Python version: 3.8.5

Pythagorean theorem:

The square of the hypotenuse is equal to the sum of the squares of the other two sides.

In [2]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5 #square root
print("c =", c)

c = 5.0

Once upon a time in Appleland, John had three apples, Mary had five apples, and Adam had six apples. They were all very happy and lived for a long time. End of story.

Your task is to:

* create the variables: john, mary, and adam;
* assign values to the variables. The values must be equal to the numbers of fruit possessed by John, Mary, and Adam respectively;
* having stored the numbers in the variables, print the variables on one line, and separate each of them with a comma;
* now create a new variable named total_apples equal to addition of the three former variables.
* print the value stored in total_apples to the console;
* experiment with your code: create new variables, assign different values to them, and perform various arithmetic operations on them (e.g., +, -, *, /, //, etc.). Try to print a string and an integer together on one line, e.g., "Total number of apples:" and total_apples.

In [4]:
john = 3
mary = 5
adam = 6
print(john, mary, adam, sep=", ")
total_apples = john + mary + adam
print("Total number of apples:"+ total_apples)

3, 5, 6

TypeError: can only concatenate str (not "int") to str

In [5]:
print("Total number of apples:", total_apples)

Total number of apples: 14

In [1]:
anything = input("Tell me anything...")
print("Hmm...", anything, "...Really?")
#the result of the input() function is always a string.

Tell me anything...rapapampam
Hmm... rapapampam ...Really?

In [2]:
# Testing TypeError message.

anything = input("Enter a number: ")
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Enter a number: 4

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'float'

In [4]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)
print("Hypotenuse length is", (leg_a**2 + leg_b**2) ** .5)

Input first leg length: 3
Input second leg length: 4
Hypotenuse length is 5.0
Hypotenuse length is 5.0

In [5]:
#if you want the + sign to be a concatenator, not an adder, you must ensure that both its arguments are strings
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

May I have your first name, please? Anurag
May I have your last name, please? Shandilya
Thank you.

Your name is Anurag Shandilya.

In [6]:
#You cannot mix types here.
print("The sum of 2 + 3 is"+5)

TypeError: can only concatenate str (not "int") to str

Your task is to prepare a simple code able to evaluate the end time of a period of time, given as a number of minutes (it could be arbitrarily large). The start time is given as a pair of hours (0..23) and minutes (0..59). The result has to be printed to the console.

For example, if an event starts at 12:17 and lasts 59 minutes, it will end at 13:16.


Sample input:
12
17
59

Expected output: 13:16

Sample input:
23
58
642

Expected output: 10:40

In [1]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))
print(str(((hour * 60 + mins + dura)//60)%24)+':'+str((hour * 60 + mins + dura) % 60))

Starting time (hours): 23
Starting time (minutes): 58
Event duration (minutes): 642
10:40

In [3]:
y=2+3*5.
print(Y)

NameError: name 'Y' is not defined

In [6]:
x=input()
y = int(input())
print(x,y)
print(x*y)

3
6
3 6
333333

In [15]:
1//2 *3

0

In [9]:
1/1

1.0

In [10]:
x = int(input())
y = int(input())
x=x//y
print(x)
y=y//x
print(y)

2
4
0

ZeroDivisionError: integer division or modulo by zero

In [12]:
y = 2 + 3 * 5.
print(y)

17.0

In [13]:
x = 1/2+3//3+4**2
print(x)

17.5

In [14]:
x = 2 % 0
print(x)

ZeroDivisionError: integer division or modulo by zero